.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
/* src/index.css */

/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: "SF Pro", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "SF Pro", sans-serif;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

#root,
#__next {
  isolation: isolate;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "SF Pro";
  src: url("./assets/fonts/sf-pro-regular.OTF") format("truetype");
  font-style: normal;
}

.custom-select {
  border: none !important;
  width: 100px;

  box-shadow: none !important;
  background-color: transparent; /* Custom background color */
  color: white !important;
  border-radius: 999px !important;
}
.custom-select .ant-select-selector {
  background-color: transparent !important;
  /* border: none !important; */
  color: white !important;
  border-radius: 999px !important;
}

.custom-dropdown {
  border-radius: 0.5rem !important; /* Rounded corners for dropdown */
}

/* Adjust styles for dropdown arrow */
.custom-select .ant-select-arrow {
  color: white !important;
}

.ellipse-banner::before {
  position: absolute;
  top: -179px;
  left: -572px;
  width: 1437px;
  height: 1437px;
  border-radius: 50%;
  background: rgba(0, 69, 111, 1);
  content: "";
  opacity: 20%;
  z-index: 1;
}
.ellipse-banner::after {
  position: absolute;
  top: -20px;
  left: -413px;
  width: 1119px;
  height: 1120px;
  border-radius: 50%;
  background: rgba(0, 52, 84, 1);
  content: "";
  opacity: 40%;
  z-index: 1;
}

.banner-dots {
  position: absolute;
  bottom: 12px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.banner-dots li.slick-active button {
  background-color: white;
  opacity: 1;
}

.banner-dots li {
  display: inline-block;
  margin: auto 12px;
}
.banner-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gray;
  border: none;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.banner-dots li button:before {
  font-size: 12px;
  color: #ffffff;
  opacity: 0.5;
}

.banner-dots li.slick-active button:before {
  color: #ffffff;
  opacity: 1;
}

.gradient-blue {
  background: -webkit-linear-gradient(180deg, #018fe5 0%, #014f7f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-green {
  background: -webkit-linear-gradient(
    146.98deg,
    #e6f4fc -14.53%,
    #4ea83d 26.19%,
    #4ea83d 68.81%,
    #e6f4fc 112.71%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-orange {
  background: -webkit-linear-gradient(
    146.98deg,
    #e6f4fc -14.53%,
    #e56e01 26.19%,
    #e56e01 68.81%,
    #e6f4fc 112.71%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-red {
  background: -webkit-linear-gradient(
    146.98deg,
    #e6f4fc -14.53%,
    #ff5f56 26.19%,
    #ff5f56 68.81%,
    #e6f4fc 112.71%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background-dots::after {
  content: "";
  background-image: url("/dots-background.png");
  background-position: right;
  background-size: contain;
  top: -16px;
  left: -56px;
  width: 184px;
  height: 312px;
  z-index: 9;
  position: absolute;
}

.background-grandient-primary {
  background: linear-gradient(
    146.98deg,
    rgba(230, 244, 252, 0.1) -14.53%,
    rgba(1, 143, 229, 0.1) 26.19%,
    rgba(1, 143, 229, 0.1) 68.81%,
    rgba(230, 244, 252, 0.1) 112.71%
  );
}
/* custom tab bar */
.custom-tab-bar {
  border: 1px solid #d0d5dd;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.custom-tab-bar .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
  padding: 26px 32px;
  margin: 0 !important;
  background-color: transparent;
  border-bottom: 1px solid #d0d5dd;
  color: #667085;
}

.custom-tab-bar
  .ant-tabs-nav-wrap
  .ant-tabs-nav-list
  .ant-tabs-tab:nth-last-child(-n + 2) {
  border-bottom: none;
}

.custom-tab-bar
  .ant-tabs-nav-wrap
  .ant-tabs-nav-list
  .ant-tabs-tab.ant-tabs-tab-active {
  background: linear-gradient(
    146.98deg,
    rgba(230, 244, 252, 0.1) -14.53%,
    rgba(1, 143, 229, 0.1) 26.19%,
    rgba(1, 143, 229, 0.1) 68.81%,
    rgba(230, 244, 252, 0.1) 112.71%
  );

  color: var(--color-primary);
}

.business-tabs .ant-tabs-content-holder {
  display: none;
}
.custom-tab-bar .ant-tabs-ink-bar {
  display: none;
}
/* custom tabs bar */
